// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


header {
    width: 100%;
    height: 70px;
    background-color: $blue;
    color: white;
    display: grid;
    place-items: center;
}

body {
    position: relative;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    place-items: center;
    display: none;
    &-content {
        width: 500px;
        height: 300px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 0 1rem 1rem rgba(0,0,0,0.1);
        color: black;
        overflow: hidden;
        .delete-message {
            font-size: 1rem;
            margin: 2rem;
        }
    }
    &__header {
        color: white;
        font-weight: bold;
        font-size: 1.3rem;
        padding: 1rem;
        background-color: $blue;
        width: 100%;
    }
}